.navbar-nav >li>a{
	text-shadow:none;
}

div {
	text-align: justify;
    text-justify: inter-word;
}

ul li{
	list-style: none;
}

.panel-black{
	border-color: #3e3f3a;
}

.panel-black > .panel-heading{
	background-color: #3e3f3a;
}

.panel-footer{
	background-color: #325d88;
	text-color:white;
	text-shadow:none;
}

.img-responsive{
	max-height:300px;
}

#loadingImg{
	margin: 0 auto;
}
@media (max-width: 768px) {
	.img-responsive{
		margin: 0 auto;
		max-height:200px;
	}
}
