.navbar-default{
	background: #3e3f3a;
}

.navbar-nav >li>a{
	text-shadow:none;
}

div {
	text-align: justify;
    text-justify: inter-word;
}

ul li{
	list-style: none;
}

.panel-footer{
	background-color: #337ab7;
	text-color:white;
	text-shadow:none;
}

@media (max-width: 768px) {
	.img-responsive{
		margin: 0 auto;
	}
}
